<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>878156622733-s4uk8ll1jvd61m23amhbbcplo53jhevd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878156622733-s4uk8ll1jvd61m23amhbbcplo53jhevd</string>
	<key>API_KEY</key>
	<string>AIzaSyAEuDg5-wn8KCisuO_Fp2Lb5oIxVdwk54M</string>
	<key>GCM_SENDER_ID</key>
	<string>878156622733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>STORAGE_BUCKET</key>
	<string>hellonature-app-10e77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:878156622733:ios:42b52a073294ed77</string>
	<key>DATABASE_URL</key>
	<string>https://hellonature-app-10e77.firebaseio.com</string>
</dict>
</plist>
