<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> LSApplicationQueriesSchemes </key>
	<array>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>mpocket.online.ansimclick</string>
		<string>scardcertiapp</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>kb-acp</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>citispay</string>
		<string>kpay</string>
		<string>ispmobile</string>
		<string>paypin</string>
		<string>payco</string>
		<string>kftc-bankpay</string>
		<string>uppay</string>
		<string>banka</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>헬로네이처</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>헬로네이처</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao9ceb8c2409f7c4bd7aa358f0be6ee814</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>232</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>9ceb8c2409f7c4bd7aa358f0be6ee814</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao9ceb8c2409f7c4bd7aa358f0be6ee814</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>파일 첨부를 위해 카메라에 접근합니다</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>파일 첨부를 위해 갤러리에 접근합니다</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
